{% extends "entidades/index.html" %}


{% block titulo %}
    <h1 class="mb-5">Acerca de esta página</h1>
{% endblock titulo %}
    

{% block contenido %}

<h2>Acerca de Nuestra Biblioteca</h2>
<br>
<p>Bienvenido a la Biblioteca Virtual, un espacio dedicado a la gestión y consulta de libros, autores, usuarios y préstamos.</p>
<p>Nuestra misión es proporcionar una plataforma fácil de usar para gestionar y acceder a una amplia colección de libros, así como para facilitar el préstamo y devolución de los mismos</p>
<br>
<h3>Características</h3>
<br>
<p>Gestión de Autores: Añade y visualiza información sobre autores. Mantén un registro actualizado de los autores y sus obras.</p>
<p>Gestión de Libros: Añade y visualiza detalles de los libros disponibles en la biblioteca. Cada libro puede ser asociado a un autor.</p>
<p>Gestión de Usuarios: Añade un usuario a la Biblioteca. Asegúrate de que cada usuario tenga un perfil adecuado</p>
<p>Gestión de Préstamos: Registra los préstamos y devoluciones de libros. Mantén un seguimiento de los libros prestados y su fecha de devolución.</p>

{% endblock contenido %}