{% extends "entidades/index.html" %}


{% block titulo %}
    <h1 class="mb-5">Libros</h1>
        <br>
    <a class="btn btn-primary" href="{% url 'librosForm' %}">Agregar libro</a>
{% endblock titulo %}
    

{% block contenido %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Fecha de publicación</th>
            <th>Género</th>
        </tr>
    </thead>
    <tbody>
        {% for c in libros %}
        <tr>
            <td>{{ c.isbn }}</td>
            <td>{{ c.titulo }}</td>
            <td>{{ c.autor }}</td>
            <td>{{ c.fecha_publicacion }}</td>
            <td>{{ c.genero }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock contenido %}